/*layout >>>>>>>>>>>>>>>>>>>>>>> */

/* Váriaveis */
:root {
    --azul: #0a1b80;
    --Preto: #000000;
    --Vermelho: #861501;
    --Branco: #ffffff;
    --vermelhoCabeçalho: #ac0a0a;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Slab";
}

.container {
    display: flex;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    background-color: var(--azul);
    padding: 10px 40px;
    color: var(--Branco);
    border-radius: 25px;
    border: 2px solid var(--Branco);
}

/* Fim - Layout <<<<<<<<<<<<<<<<< */

/* Smartphone Portrait >>>>>>>>>>>>>>>>> */

/* Cabeçalho */
header {
    background-color: var(--vermelhoCabeçalho);
    height: 55px;
}

/*Principal*/
main {
    height: 50vh;
    background: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

main h1 {
    color: var(--Branco);
    font-family: "Roboto Slab";
    text-shadow: 5px 10px 15px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 20px 20px rgba(0, 0, 0, 0.1), 0px 25px 25px rgba(0, 0, 0, 0.1);


}

main h2 {
    color: var(--Branco);
    font-family: "Roboto Slab";
    font-family: 0.85rem;
    font-weight: 700;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;


}

#logo img {
    width: 55px;
    height: 55px;
    margin-top: 20px;
    margin-left: 10px;
}

#check {
    display: none;
}

label {
    color: rgba(0, 0, 0, 0.75);
    font-size: 2rem;
    position: fixed;
    right: 15px;
    top: 3px;
}

nav ul {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 55px;
    right: -55%;
    width: 55%;
    transition: all 0.5s;
}

/* açâo para a caixa checkbox */
/* quando selecionado mudar propriedades ul */

#check:checked~ul {
    right: 0px;
}

nav ul li {
    list-style: none;
    padding: 20px;
    text-align: right;
    border: 1px solid var(--Branco);
    text-align: left;
}

nav ul li a {
    text-decoration: none;
    color: var(--Branco)
}

/* Fim - Smartphone Portrait <<<<<<<<<<<<<<<< */

/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px) {

    /* Layout */
    .container {
        max-width: 540px;
    }

    /*Cabeçalho*/
    nav ul {
        width: 40%;
        height: -40%;
    }
}

/* principal*/

main {
    height: 75vh;
}

/* Fim - Smartphone Landscape <<<<<<<<<<<<<<<<<< */

/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {

    /* Layout */
    .container {
        max-width: 720px;
    }
}

main h1 {
    font-size: 3.7rem;
}

main h2 {
    font-size: 3.7rem;
}



/* Tablet Portrait <<<<<<<<<<<<<<<<<< */

/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {

    /* Layout */
    .container {
        max-width: 960px;
    }
}



/* Tablet Landscape <<<<<<<<<<<<<<<<<< */

/* Notebook/Pc >>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {

    /* Layout */
    .container {
        max-width: 1140px;
        justify-content: space-between;
    }

    /*cabeçalho*/
    header {
        height: 110px;
    }

    #logo img {
        height: 130px;
        width: 130px;
        margin-top: 45px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 17px;
    }

    nav ul li {
        border: 0;
        float: left;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav ul li a:hover {
        color: var(--azul);
    }

    /*princpal*/
    
    main {
        height: 80vh;
    }

}

/* Notebook/Pc <<<<<<<<<<<<<<<<<< */

/* Full HD/4K >>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1400px) {

    /* Layout */
    .container {
        max-width: 1320px;
    }
}

main h1 {
    font-size: 6rem;
    font-size: 4rem;

}

/* Full HD/4K <<<<<<<<<<<<<<<<<< */